#sideNav {
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .navbar-toggler {
    &:focus {
      outline-color: lighten($primary, 15%);
    }
  }
}

.img-profile {
	max-width: 10rem;
	max-height: 10rem;
	border: .3rem solid rgba(255,255,255,.85);
	padding: 2px;
  background-clip: content-box;
  box-shadow: 0px 0 30px -5px rgb(255, 255, 255);
}
.img-logo {
	max-width: 6rem;
	max-height: 6rem;
	opacity: .25;
	position: relative;
	top: 0;
	transform: translateY(-10%)
}

@media (min-width: 992px) {
  #sideNav {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: $sidebar-base-width;
    height: 100vh;
    .navbar-brand {
      display: flex;

      margin: auto auto 0;
      padding: 0.5rem;
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin: auto 0;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        padding-left: 40px;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
